/* Variables */
:root {
    --main-color: #651fff;

    --red: #b71c1c;
    --green: #1b5e20;
    --yelloy: #f57f17;

    --gap: .5em;

    --max-width: 650px;
}

/* Reset */
*,*::after,*::before { box-sizing: border-box; }

body{
    margin: 0;
    background-color: #141414;
    color: #fff;
    font-family: sans-serif;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
    list-style: none;
}
.main-header{
    text-align: center;
}
.main-content{
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
}