.button{
    padding:var(--gap) calc(var(--gap) * 2);
    width: 100%;
    height: 100%;

    font-size: 100%;
    
    background-color: #fff;
    
    cursor: pointer;
    border: none;
    outline: none;
}
.button--bg-main-color{
    background-color: var(--call-to-action);
    color: #fff;
}