.button{
    padding:var(--gap);

    background-color: red;
    
    font-size: 100%;
    text-transform: uppercase;

    outline: none;
    cursor: pointer;
    border: 1px solid;
}
.button--bg-main-color{   
    background-color: var(--call-to-action);
    color: #fff;
}
.delete{
    color: #fff;
    border: 2px solid;
}