.colors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    background-color: #fff;
}
.color{
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline-color .15s ease;

}
.color:hover{
    outline-color: var(--main-color);
} 

label.red{
    margin-left: var(--gap);
}
label.green{
    margin-right: var(--gap);
}
.color-radio{
    display: none;
}

.red{
    background-color: var(--red);
    color: var(--red);
}
.yellow{
    background-color: var(--yelloy);
    color: var(--yelloy);
}
.green{
    background-color: var(--green);
    color: var(--green);
}