/*
Muestra un mensaje 
si no se cumplen las 
condiciones en el formulario
*/
.msg{
    margin: 0;
    padding: calc(var(--gap) * 2);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.no-task{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}