.tasks{
    margin-right: auto;
    margin-left: auto;
    padding: var(--gap);

    background-color: var(--main-color);
}
.tasks__task{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,60px);
    gap: var(--gap);
    padding: var(--gap);
    margin-bottom: var(--gap);
}
.tasks__task:last-child{
    margin-bottom: 0;
}
.tasks__task > *:not(button) {
    background-color: #fff;
}
.child-one{
    grid-column: 1 / 10;
    text-transform: uppercase;
}
.child-two{
    grid-column: 10 / 11;
}
.child-tree{
    grid-column: 1 / 7;
}
.child-four{
    grid-column: 7 / 11;
}
.child-one,
.child-tree,
.child-four{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    height: 100%;
}